name: 'Terraform Plan'

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths:
      - 'Terraform/satona-build1/**'  # Only trigger when files in this folder change

defaults:
  run:
    working-directory: Terraform/satona-build1

jobs:
  terraform:
    runs-on: ubuntu-latest
    

    steps:

      - name: Debug secrets presence
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        run: |
          if [ -z "$AZURE_CLIENT_ID" ]; then
          echo "AZURE_CLIENT_ID is missing"
          else
          echo "AZURE_CLIENT_ID is set"
          fi

          if [ -z "$AZURE_TENANT_ID" ]; then
            echo "AZURE_TENANT_ID is missing"
          else
            echo "AZURE_TENANT_ID is set"
          fi

          if [ -z "$AZURE_SUBSCRIPTION_ID" ]; then
            echo "AZURE_SUBSCRIPTION_ID is missing"
          else
            echo "AZURE_SUBSCRIPTION_ID is set"
          fi
      
      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
         client-id: ${{ secrets.AZURE_CLIENT_ID }}
         tenant-id: ${{ secrets.AZURE_TENANT_ID }}
         subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
         enable-AzPSSession: true

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan
