name: 'Terraform Plan'

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths:
      - 'Terraform/satona-build1/**'  # Only trigger when files in this folder change

permissions:
  id-token: write
  contents: read

defaults:
  run:
    working-directory: Terraform/satona-build1

jobs:
  terraform:
    runs-on: ubuntu-latest
    

    steps:
      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
         client-id: ${{ secrets.AZURE_CLIENT_ID }}
         tenant-id: ${{ secrets.AZURE_TENANT_ID }}
         subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
         auth-type: ID_TOKEN
         enable-AzPSSession: true

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan
